.content{
  padding: 30px 10px;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  justify-content: space-between;
}

.content img{
  margin-bottom: 30px;
}

.content form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.content form textarea{
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 15px;
  height: 120px;
}

.btn{
  padding: 0.8rem 1.125rem;
  font-size: 24px;
}

.content.target{
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.back{
  position: absolute;
  right: 10px;
  top: 15px;
}
