.example-container {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, #32C832, #FFCC00, #CD3C14);
	display: flex;
	flex-direction: column;
}

mat-card-header {
	justify-content: center;
}

mat-card-title {
	color: #ff6600;
	border-bottom: 1px solid #008080;
}

mat-card-title h3 {
	margin-bottom: 0;
}

mat-card-title h6 {
	color: #000000;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.example-container > * {
	width: 80%;
	margin: auto;
}

.example-full-width {
	width: 100%;
}
