@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body{
  height: 100%;
  background-color: #eeeeee !important;
}

.contentS{
  max-width: 500px;
  margin: auto;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 480px;
  position: relative;
}

header{
  display: flex;
  padding: 15px;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

header img{
  height: 30px;
}

.contentS .content-mood{
  flex: 1;
}

footer{
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
}

/* footer img{
  opacity: 0.3;
} */

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content.happy{
  background-color: #32C832;
}

.content.unhappy{
  background-color: #CD3C14;
}

.content.neutre{
  background-color: #FFCC00;
}

@media screen and (max-width: 500px) and (orientation: landscape) {
  .contentS{
    max-width: unset;
  }
 }
